<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Quiz</title>
    </head>
    <body>
        <h2>Autor: Tomás Cortés</h2>
        <img src="images/perro.jpg" height="150" width="150">
    </body>
</html>